Create a notebook to play around with date, time, age equations.

*check out this: https://www.w3resource.com/python-exercises/date-time-exercise/

In [17]:
import os, sys

In [18]:
import datetime as dt #documentation: https://docs.python.org/3.5/library/datetime.html

create ordinal to store TODAY

In [19]:
ord_today = dt.date.today().toordinal()
print(ord_today)

736746

In [20]:
dt.datetime.now()

datetime.datetime(2018, 2, 21, 10, 25, 13, 880391)

Determining my age in days

In [22]:
my_birthday = dt.date(1983, 4, 13)
print(my_birthday)

1983-04-13

Create ordinal to store my birthday

In [26]:
ord_me = my_birthday.toordinal()
print(ord_me)

724013

Calculate a year in ordinal

In [29]:
year_obj = dt.date.year #.toordinal()
print(year_obj)

print(format(year_obj))
# ord_yr = year_obj.toordinal()

<attribute 'year' of 'datetime.date' objects>
<attribute 'year' of 'datetime.date' objects>

Create a function to calculate age:

In [ ]:
def calculate_age():

    # request user input birthdate 
    year = int(input("What year were you born?  "))
    month = int(input("What month (1-12) were you born?  "))
    day = int(input("What day (1-31) were you born?  "))

    # save to datetime and ordinal types    
    birthdate = datetime.date(year, month, day)
    ord_birthdate = birthdate.toordinal()
    
    # def get_today():
    todaydate = datetime.date.today()
    ord_todaydate = todaydate.toordinal()
    
    # get_today()
    age_days = ord_todaydate - ord_birthdate
    year = datetime
    age =  (age_days / 365.25) 
    age_yrs = '{:.2f}'.format(age)
    print("You are ", age_days, " days old or ", age_yrs, " years old!")

In [ ]:
calculate_age()

In [ ]:
dad_birthday = datetime.date(1946, 10, 7)

In [ ]:
print(dad_birthday)

In [ ]:
mom_birthday = datetime.date(1949, 10, 23)

In [ ]:
today = datetime.date.today()
print(today)

In [ ]:
today.toordinal()

In [ ]:
ord_mom = mom_birthday.toordinal()

In [ ]:
mom_age_days = today - int(mom_birthday)

In [ ]:
print(mom_age_days)

In [ ]:
import pandas as pd