This notebook allows you to play around with ages and to answer the questions like:
- when will I be 50% of my father's age?
- when will I be 15,000 days old?

In [1]:
import os, sys

In [2]:
import datetime as dt #documentation: https://docs.python.org/3.5/library/datetime.html

create ordinal to store TODAY

In [3]:
ord_today = dt.date.today().toordinal()
print(ord_today)

736927

calculate time (object) now

In [4]:
now = dt.datetime.now()
print(now)

2018-08-21 08:47:22.444405

Determining my age in days

In [5]:
dob_me = dt.date(1983, 4, 13)
print(dob_me)

1983-04-13

Create ordinal to store my birthday

In [6]:
ord_dob_me = dob_me.toordinal()
print(ord_dob_me)

724013

Calculate a year in ordinal

In [7]:
# doesn't work yet
year_obj = dt.date.year
print(year_obj)

print(format(year_obj))

<attribute 'year' of 'datetime.date' objects>
<attribute 'year' of 'datetime.date' objects>

Create a function to calculate age:

In [10]:
def calculate_age():

    # request user input birthdate 
    year = int(input("What year were you born?  "))
    month = int(input("What month (1-12) were you born?  "))
    day = int(input("What day (1-31) were you born?  "))

    # save to datetime and ordinal types    
    dob = dt.date(year, month, day)
    ord_dob = dob.toordinal()
    
    # get today:
    today = dt.date.today()
    ord_today = today.toordinal()
    
    # calculate age in days
    age_days = ord_today - ord_dob
#     year = datetime
    age =  (age_days / 365.25) 
    age_yrs = '{:.2f}'.format(age)
    print("You are", age_days, "days old or", age_yrs, "years old!")

In [14]:
calculate_age()

What year were you born?   1927
What month (1-12) were you born?   8
What day (1-31) were you born?   22

You are 33237 days old or 91.00 years old!

Calculate someone else's birthday

In [15]:
dad_dob = dt.date(1946, 10, 7)

In [16]:
print(dad_dob)

1946-10-07

In [17]:
mom_birthday = dt.date(1949, 10, 23)

In [18]:
print(mom_birthday)

1949-10-23

In [19]:
today = dt.date.today()
print(today)

2018-08-21

In [20]:
ord_today = today.toordinal()
print(ord_today)

736927

In [21]:
ord_mom = mom_birthday.toordinal()
print(ord_mom)

711788

In [22]:
mom_age_days = ord_today - ord_mom

In [23]:
print(mom_age_days)

25139

### Import Pandas, Numpy for interacting with DataFrames

In [24]:
import pandas as pd
import numpy as np

In [25]:
family = pd.Index(data=["Joel", "Carol", "Dad", "Mom"],name="Names")
family

Index(['Joel', 'Carol', 'Dad', 'Mom'], dtype='object', name='Names')

In [26]:
family.is_object

In [94]:
df = pd.DataFrame(data=None, index=family, columns=None)
df

Empty DataFrame
Columns: []
Index: [Joel, Carol, Dad, Mom]

In [95]:
sLength = len(family)
sLength

4

In [96]:
df["DOB"] = pd.Series(np.random.randn(sLength), index=family)
df

            DOB
Names
Joel  -0.502228
Carol -0.413550
Dad    0.516330
Mom    1.850062

In [97]:
df['DOB'] = pd.Series(np.array(['1983-04-13', '1982-09-19', '1946-10-07', '1949-10-23'], dtype='datetime64'), index=family)
df

             DOB
Names
Joel  1983-04-13
Carol 1982-09-19
Dad   1946-10-07
Mom   1949-10-23

In [125]:
df.sort_values(by='DOB', ascending=True)

             DOB
Names
Dad   1946-10-07
Mom   1949-10-23
Carol 1982-09-19
Joel  1983-04-13

In [126]:
df.loc['Dad']

DOB   1946-10-07
Name: Dad, dtype: datetime64[ns]

create a for-loop which calculates 'age_days' field

In [127]:
def calculate_age_df():

    # Get today in ordinal:
    today = dt.date.today()
    ord_today = today.toordinal()

    # Create lists to store the data
    ord_dob = []
    age_days = []
    
    for x in df['DOB']:
        
        ord_dob = x.toordinal()
#         age_days = ord_today - ord_dob
        df['age_days'] = ord_today - ord_dob
        
#         ord_dob.append(x.toordinal())
#         pd.Series(ord_dob, index=family)
#         print(ord_dob)

# Create a column from the list
    df['ord_dob'] = ord_dob
    df['age_days'] = age_days

df
        
# from here: https://stackoverflow.com/questions/49821125/pandas-iterate-through-dataframe-and-calculate-difference-between-column-value        
# df.assign(Duration=df.groupby('ID').Date.diff().fillna(0))
#         df.assign(Age_days=df.groupby('Names').DOB.diff().fillna(0))
    
# assign output to a pandas series
#         s_dob  = pd.Series((ord_dob), index=family)
       
        # calculate age in days
#         df['age_days'] = ord_today - ord_dob
        
        # calculate age in years year = datetime
#         df['age_yrs'] =  (age_days / 365.25) 
#     age_yrs = '{:.2f}'.format(age)
#     print("You are", age_days, "days old or", age_yrs, "years old!")

             DOB
Names
Joel  1983-04-13
Carol 1982-09-19
Dad   1946-10-07
Mom   1949-10-23

In [124]:
age_days

NameError: name 'age_days' is not defined

In [115]:
calculate_age_df()
# df

In [116]:
df

             DOB
Names
Joel  1983-04-13
Carol 1982-09-19
Dad   1946-10-07
Mom   1949-10-23

In [ ]:
p_start_date = [dateparser.parse(x).date() for x in df['start_date']]
p_start_date[:5]

In [ ]:
# define columns of dataframe
# pd.DataFrame(data=None, index=family, columns='DOB')

In [ ]:
DOB = pd.Series(dtype=)

Create a list of family members whose birthdays you know.

In [ ]:
def family_member():
    name = input("Person's name :")
    calculate_age()
    family_member = []

In [ ]:
family_member()

In [ ]:
df = pd.DataFrame({"name":[], "DOB":[]})

In [ ]:
df["name"] = "Joel"
df["DOB"] = 1982

In [ ]:
pd.DataFrame()

In [ ]:
data = ({'Name': ['Joel', 'Dad', 'Carol', 'Mom'], #input("Person's Name"),
    'Year': [1983, 1946, 1982, 1949],  # int(input("What year were you born?  ")),
    'Month': [4, 10, 9, 10],#int(input("What month (1-12) were you born?  ")),
    'Day': [13, 7, 19, 23], # int(input("What day (1-31) were you born?  "))
})

df2 = pd.DataFrame(data, columns=['Name','Year', 'Month', 'Day'],index=None)
    # save to datetime and ordinal types    
#     birthdate = dt.date(year, month, day)
#     ord_birthdate = birthdate.toordinal()

df2

In [ ]:
df2['DOB'] = dt.date(year, month, day)

In [ ]:
pd.