Import dateutil / dateparser

In [1]:
import dateutil.parser as du_parser

In [2]:
date_value = du_parser.parse('23 February 2017')

In [3]:
date_value

datetime.datetime(2017, 2, 23, 0, 0)

Import workbook

In [4]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

In [5]:
# load workbook into memory
wb = load_workbook(r'C:\Users\Carol\Dropbox\GECForest_Database\survey_data\COG\COG_Ndoki\normalized\COG_Ndoki_normalized.xlsx')

In [6]:
# list worksheets
wb.worksheets

[<Worksheet "Metadata">,
 <Worksheet "Survey Strata">,
 <Worksheet "Recces">,
 <Worksheet "Transects">,
 <Worksheet "Transect Observations">,
 <Worksheet "Recce Observations">,
 <Worksheet "_observations">,
 <Worksheet "Observation Codes">,
 <Worksheet "Survey Team">,
 <Worksheet "Missions">,
 <Worksheet "_missions">,
 <Worksheet "Key">,
 <Worksheet "Log">]

In [7]:
# specify active worksheet
ws = wb["Missions"]

In [8]:
ws

define where data exists

In [9]:
data = ws.values
data

In [10]:
cols = next(data)[:]
cols

('survey_code',
 'mission_id',
 'start_date',
 'end_date',
 'survey_day',
 'team_id',
 'team_leader',
 'team_assistant',
 None)

In [11]:
data = list(data) #return a list
# data.index()

In [12]:
# define a dictionary
# idx = ([r[0] for r in data])
idx = 'Mission' += 1
idx

SyntaxError: invalid syntax (<ipython-input-12-5432386fbf28>, line 3)

Read data into dataframe and then display head

In [13]:
# data = (islice(r, 1, None) for r in data)
# df = pd.DataFrame(data, index=idx, columns=cols) # df = pd.DataFrame(ws.values)
df = pd.DataFrame(data, columns=cols)
df.head()

,survey_code,mission_id,start_date,end_date,survey_day,team_id,team_leader,team_assistant,None
0,COD_Ndoki,None,21 mars 2017,29 mars 2017,None,None,Arel MAPEMBI BOULINGUI,Taty,None
1,COD_Ndoki,None,1 aout 2016,15 aout 2016,None,None,Christian Ndzai,Phael,None
2,COD_Ndoki,None,1 juil. 2016,17 juil. 2016,None,None,Ferre MBOUSSA,Espoir,None
3,COD_Ndoki,None,1 juil. 2016,18 juil. 2016,None,None,Frelcia BAMBI MAMPOUYA,Arel,None
4,COD_Ndoki,None,1 juil. 2016,15 juil. 2016,None,None,Joules ELARI SAMBA,Vigny,None

In [14]:
df['start_date']
type(df['start_date'])

pandas.core.series.Series

In [15]:
df['team_leader'].head()

0    Arel MAPEMBI BOULINGUI
1           Christian Ndzai
2             Ferre MBOUSSA
3    Frelcia BAMBI MAMPOUYA
4        Joules ELARI SAMBA
Name: team_leader, dtype: object

##### Demonstrating functionality of .loc and .iloc

.loc is used to select rows and uses 2 parameters: a row index, and list of column names; also supports slicing

In [16]:
df.loc[0:2, ('start_date', 'end_date')]

     start_date       end_date
0  21 mars 2017   29 mars 2017
1   1 aout 2016   15 aout 2016
2  1 juil. 2016  17 juil. 2016

.iloc is used with indexes but is slightly different from .loc

In [17]:
df.iloc[0:2]

,survey_code,mission_id,start_date,end_date,survey_day,team_id,team_leader,team_assistant,None
0,COD_Ndoki,None,21 mars 2017,29 mars 2017,None,None,Arel MAPEMBI BOULINGUI,Taty,None
1,COD_Ndoki,None,1 aout 2016,15 aout 2016,None,None,Christian Ndzai,Phael,None

#### Import dateparser module

In [18]:
import dateparser

example showing parsing of one string

In [19]:
date_value2 = dateparser.parse('23 fevr. 2017')
date_value2

datetime.datetime(2017, 2, 23, 0, 0)

In [20]:
dateparser?

Type:        module
String form: <module 'dateparser' from 'c:\\venv\\pyexcel\\lib\\site-packages\\dateparser\\__init__.py'>
File:        c:\venv\pyexcel\lib\site-packages\dateparser\__init__.py
Docstring:   <no docstring>

In [25]:
df['start_date']

0             21 mars 2017
1              1 aout 2016
2             1 juil. 2016
3             1 juil. 2016
4             1 juil. 2016
5             1 juil. 2016
6               1 mai 2016
7            16 fevr. 2017
8             16 mars 2017
9            17 fevr. 2017
10           17 fevr. 2017
11           19 fevr. 2017
12           19 janv. 2017
13            2 juil. 2016
14            2 juil. 2016
15            2 juil. 2016
16             2 juin 2016
17              2 mai 2016
18           20 fevr. 2017
19           20 fevr. 2017
20           20 janv. 2017
21           20 janv. 2017
22            21 mars 2017
23            21 mars 2017
24            21 mars 2017
25            21 mars 2017
26            22 mars 2017
27            22 mars 2017
28           23 janv. 2017
29           23 janv. 2017
              ...
442    2017-01-23 00:00:00
443    2017-01-23 00:00:00
444    2017-01-24 00:00:00
445    2016-02-26 00:00:00
446    2016-01-26 00:00:00
447    2017-01-26 00:00:00
448    2016-05-26 00:00:00
449    2016-05-26 00:00:00
450    2016-08-27 00:00:00
451    2016-08-27 00:00:00
452    2016-08-27 00:00:00
453    2016-02-27 00:00:00
454    2016-03-27 00:00:00
455    2016-03-27 00:00:00
456    2016-03-27 00:00:00
457    2016-08-28 00:00:00
458    2016-04-28 00:00:00
459    2016-03-28 00:00:00
460    2016-02-29 00:00:00
461    2016-01-29 00:00:00
462    2016-01-29 00:00:00
463    2016-07-29 00:00:00
464    2016-07-29 00:00:00
465    2016-07-29 00:00:00
466    2016-04-30 00:00:00
467    2016-07-30 00:00:00
468    2016-07-30 00:00:00
469    2016-07-30 00:00:00
470    2016-03-30 00:00:00
471    2016-05-31 00:00:00
Name: start_date, Length: 472, dtype: object

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [24]:
p_start_date = [dateparser.parse(x).date() for x in df['start_date']]
p_start_date[:5]

AttributeError: 'NoneType' object has no attribute 'date'

In [ ]:
p_end_date = [dateparser.parse(x).date() for x in df['end_date']]
p_end_date[:5]

In [ ]:
# dateparser.parse(date_string, date_formats=None, languages=None, locales=None, region=None, settings=None)
# pdate = dateparser.parse(date_string=df['start_date'], date_formats=['%d %b %Y'],languages=['fr', 'en'])

##### Use dateparser to parse dates into a new column in the dataframe

Create list to parse out dates

Add new column to dataframe to store parsed_dates

In [ ]:
type(df['start_date'])

Add new column to dataframe to store parsed_dates

In [ ]:
# first parameter is the actual field name where parsed dates will be assigned. copies over if it already exists
p_df = df.assign(start_date = p_start_date, end_date = p_end_date)
p_df[:5]

In [ ]:
p_df[:5]

openpyxl method for writing to worksheet

In [ ]:
# from https://www.datacamp.com/community/tutorials/python-excel-tutorial
wb.create_sheet('Missions_parsed')

In [ ]:
# wb.remove_sheet('Missions_parsed1')

Ensure correct tab is active

In [ ]:
wb.active

In [ ]:
# Import 'dataframe_to_rows'
from openpyxl.utils.dataframe import dataframe_to_rows
# wb = Workbook()
ws = wb['Missions_parsed']
ws.sheet_state('Missions_parsed')

for r in dataframe_to_rows(p_df, index=False, header=True):
    ws.append(r)

# df.to_excel(wb,sheet_name='Missions_parsed')

In [ ]:
wb.save(r'C:\Users\Carol\Dropbox\GECForest_Database\survey_data\COG\COG_Ndoki\normalized\COG_Ndoki_normalized.xlsx',)

In [ ]:
df