##### Import dateutil / dateparser

In [1]:
import dateutil.parser as du_parser

In [2]:
date_value = du_parser.parse('23 February 2017')

In [3]:
date_value

datetime.datetime(2017, 2, 23, 0, 0)

Import workbook

In [4]:
import pandas as pd, openpyxl
from openpyxl import load_workbook

Load workbook into memory

In [5]:
wb = load_workbook(r'C:\Users\Carol\Dropbox\GECForest_Database\survey_data\COG\COG_Ndoki\normalized\COG_Ndoki_normalized.xlsx', data_only=True) #read_only=True, #guess_types=True)

List worksheets

In [6]:
wb.worksheets

[<Worksheet "Metadata">,
 <Worksheet "Survey Strata">,
 <Worksheet "Recces">,
 <Worksheet "Transects">,
 <Worksheet "Transect Observations">,
 <Worksheet "Recce Observations">,
 <Worksheet "_observations">,
 <Worksheet "Observation Codes">,
 <Worksheet "Species Codes">,
 <Worksheet "Survey Team">,
 <Worksheet "Missions">,
 <Worksheet "Missions_parsed">,
 <Worksheet "Key">,
 <Worksheet "Log">]

Isolate specific sheet

In [7]:
wb["Missions"] #.sheet_names
ws = wb["Missions"]
ws

define where data exists

In [8]:
data = ws.values
data

Read in column names

In [9]:
cols = next(data) ###[:1]
cols

('survey_code',
 'mission_id',
 'start_date',
 'end_date',
 'survey_day',
 'team_id',
 'team_leader',
 'team_assistant')

Return data as a list

In [10]:
data = list(data)
data[:2]

[('COD_Ndoki',
  None,
  '21 mars 2017',
  '29 mars 2017',
  None,
  None,
  'Arel MAPEMBI BOULINGUI',
  'Taty'),
 ('COD_Ndoki',
  None,
  '1 aout 2016',
  '15 aout 2016',
  None,
  None,
  'Christian Ndzai',
  'Phael')]

In [11]:
# define a dictionary
# idx = ([r[0] for r in data])
# idx = 'Mission' += 1
# idx

Read data into dataframe and then display head

In [15]:
# data = (islice(r, 1, None) for r in data)
# df = pd.DataFrame(data, index=idx, columns=cols) # df = pd.DataFrame(ws.values)
df = pd.DataFrame(data, columns=cols)
df.head()

,survey_code,mission_id,start_date,end_date,survey_day,team_id,team_leader,team_assistant
0,COD_Ndoki,None,21 mars 2017,29 mars 2017,None,None,Arel MAPEMBI BOULINGUI,Taty
1,COD_Ndoki,None,1 aout 2016,15 aout 2016,None,None,Christian Ndzai,Phael
2,COD_Ndoki,None,1 juil. 2016,17 juil. 2016,None,None,Ferre MBOUSSA,Espoir
3,COD_Ndoki,None,1 juil. 2016,18 juil. 2016,None,None,Frelcia BAMBI MAMPOUYA,Arel
4,COD_Ndoki,None,1 juil. 2016,15 juil. 2016,None,None,Joules ELARI SAMBA,Vigny

Create series to hold column of interest and encode as string

In [16]:
sd_series = df['start_date'][:58]
sd_series.str.encode(encoding="utf-8")
type(sd_series)

ed_series = df['end_date'][:58]
ed_series.str.encode(encoding="utf-8")
type(ed_series)

pandas.core.series.Series

In [17]:
df['team_leader'].head()

0    Arel MAPEMBI BOULINGUI
1           Christian Ndzai
2             Ferre MBOUSSA
3    Frelcia BAMBI MAMPOUYA
4        Joules ELARI SAMBA
Name: team_leader, dtype: object

##### Demonstrating functionality of .loc and .iloc

.loc is used to select rows and uses 2 parameters: a row index, and list of column names; also supports slicing

In [18]:
df.loc[0:2, ('start_date', 'end_date')]

     start_date       end_date
0  21 mars 2017   29 mars 2017
1   1 aout 2016   15 aout 2016
2  1 juil. 2016  17 juil. 2016

.iloc is used with indexes but is slightly different from .loc

In [19]:
df.iloc[0:2]

,survey_code,mission_id,start_date,end_date,survey_day,team_id,team_leader,team_assistant
0,COD_Ndoki,None,21 mars 2017,29 mars 2017,None,None,Arel MAPEMBI BOULINGUI,Taty
1,COD_Ndoki,None,1 aout 2016,15 aout 2016,None,None,Christian Ndzai,Phael

#### Import dateparser module

In [20]:
import dateparser

example showing parsing of one string

In [21]:
date_value2 = dateparser.parse('23 fevr. 2017')
date_value2

datetime.datetime(2017, 2, 23, 0, 0)

In [22]:
dateparser?

Type:        module
String form: <module 'dateparser' from 'c:\\venv\\pyexcel\\lib\\site-packages\\dateparser\\__init__.py'>
File:        c:\venv\pyexcel\lib\site-packages\dateparser\__init__.py
Docstring:   <no docstring>

In [23]:
type(df['start_date'][:58]) # #[:58],df['end_date']

pandas.core.series.Series

##### Assign parameters to help parse the date fields correctly

create a for-loop which parses dates from 'start_date' field

In [24]:
# p_start_date = [dateparser.parse(x).date() for x in df['start_date']]
p_start_date = [dateparser.parse(x).date() for x in sd_series]
p_start_date[:5]

[datetime.date(2017, 3, 21),
 datetime.date(2016, 8, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 7, 1),
 datetime.date(2016, 7, 1)]

In [25]:
# p_end_date = [dateparser.parse(x).date() for x in df['end_date']]
p_end_date = [dateparser.parse(x).date() for x in ed_series]
p_end_date[:5]

[datetime.date(2017, 3, 29),
 datetime.date(2016, 8, 15),
 datetime.date(2016, 7, 17),
 datetime.date(2016, 7, 18),
 datetime.date(2016, 7, 15)]

In [26]:
# dateparser.parse(date_string, date_formats=None, languages=None, locales=None, region=None, settings=None)
# pdate = dateparser.parse(date_string=df['start_date'], date_formats=['%d %b %Y'],languages=['fr', 'en'])

##### Use dateparser to parse dates in the dataframe

Add new column to dataframe to store parsed_dates

In [27]:
type(df['start_date'])

pandas.core.series.Series

Add new column to dataframe to store parsed_dates

In [42]:
# first parameter is the actual field name where parsed dates will be assigned. copies over if it already exists
p_df = df.assign(start_date = p_start_date, end_date = p_end_date)
p_df.head()

,survey_code,mission_id,start_date,end_date,survey_day,team_id,team_leader,team_assistant
0,COD_Ndoki,None,2017-03-21,2017-03-29,None,None,Arel MAPEMBI BOULINGUI,Taty
1,COD_Ndoki,None,2016-08-01,2016-08-15,None,None,Christian Ndzai,Phael
2,COD_Ndoki,None,2016-07-01,2016-07-17,None,None,Ferre MBOUSSA,Espoir
3,COD_Ndoki,None,2016-07-01,2016-07-18,None,None,Frelcia BAMBI MAMPOUYA,Arel
4,COD_Ndoki,None,2016-07-01,2016-07-15,None,None,Joules ELARI SAMBA,Vigny

openpyxl method for writing to worksheet

In [34]:
# change directory
import os
os.chdir(r"C:\code\pyexcel\worksheets")

In [40]:
# from https://www.datacamp.com/community/tutorials/python-excel-tutorial
dest_filename = r"C:\code\pyexcel\worksheets\parsed_data.xlsx"
dest_sheetname = 'Missions_parsed'

# used pandas.DataFrame.to_excel to write DataFrame to an excel sheet
p_df.to_excel(excel_writer=dest_filename, sheet_name=dest_sheetname)

Probable cruft but might be useful in the future

In [ ]:
# Import 'dataframe_to_rows'
from openpyxl.utils.dataframe import dataframe_to_rows
# wb = Workbook()
ws = wb['Missions_parsed']
ws.sheet_state('Missions_parsed')

for r in dataframe_to_rows(p_df, index=False, header=True):
    ws.append(r)

# df.to_excel(wb,sheet_name='Missions_parsed')