Create a notebook to play around with date, time, age equations.

*check out this: https://www.w3resource.com/python-exercises/date-time-exercise/

In [2]:
import os, sys

In [3]:
import datetime as dt #documentation: https://docs.python.org/3.5/library/datetime.html

create ordinal to store TODAY

In [4]:
ord_today = dt.date.today().toordinal()
print(ord_today)

736909

In [5]:
dt.datetime.now()

datetime.datetime(2018, 8, 3, 11, 43, 8, 696036)

Determining my age in days

In [6]:
my_birthday = dt.date(1983, 4, 13)
print(my_birthday)

1983-04-13

Create ordinal to store my birthday

In [7]:
ord_my_bday = my_birthday.toordinal()
print(ord_my_bday)

724013

Calculate a year in ordinal

In [8]:
year_obj = dt.date.year #.toordinal()
print(year_obj)

print(format(year_obj))
# ord_yr = year_obj.toordinal()

<attribute 'year' of 'datetime.date' objects>
<attribute 'year' of 'datetime.date' objects>

Create a function to calculate age:

In [14]:
def calculate_age():

    # request user input birthdate 
    year = int(input("What year were you born?  "))
    month = int(input("What month (1-12) were you born?  "))
    day = int(input("What day (1-31) were you born?  "))

    # save to datetime and ordinal types    
    birthdate = dt.date(year, month, day)
    ord_birthdate = birthdate.toordinal()
    
    # def get_today():
    todaydate = dt.date.today()
    ord_todaydate = todaydate.toordinal()
    
    # get_today()
    age_days = ord_todaydate - ord_birthdate
#     year = datetime
    age =  (age_days / 365.25) 
    age_yrs = '{:.2f}'.format(age)
    print("You are", age_days, "days old or", age_yrs, "years old!")

In [15]:
calculate_age()

What year were you born?   1982
What month (1-12) were you born?   9
What day (1-31) were you born?   19

You are 13102 days old or 35.87 years old!

Calculate someone else's birthday

In [ ]:
dad_birthday = dt.date(1946, 10, 7)

In [ ]:
print(dad_birthday)

In [ ]:
mom_birthday = dt.date(1949, 10, 23)

In [ ]:
print(mom_birthday)

In [ ]:
today = dt.date.today()
print(today)

In [ ]:
ord_today = today.toordinal()
print(ord_today)

In [ ]:
ord_mom = mom_birthday.toordinal()
print(ord_mom)

In [ ]:
mom_age_days = ord_today - ord_mom

In [ ]:
print(mom_age_days)

In [19]:
import pandas as pd

In [ ]:
# define columns of dataframe
df = pd.DataFrame([])

Create a list of family members whose birthdays you know.

In [17]:
def family_member():
    name = input("Person's name :")
    calculate_age()
    family_member = []

In [18]:
family_member()

Person's name : Joel
What year were you born?   1983
What month (1-12) were you born?   4
What day (1-31) were you born?   13

You are 12896 days old or 35.31 years old!

In [25]:
df = pd.DataFrame({"name":[], "DOB":[]})

In [32]:
df["name"] = "Joel"
df["DOB"] = 1982

In [33]:
df

Empty DataFrame
Columns: [name, DOB]
Index: []

In [23]:
df = pd.DataFrame({
    "name": input("Person's Name"),
    "YOB": int(input("What year were you born?  ")),
    'MOB': int(input("What month (1-12) were you born?  ")),
    'DOB': int(input("What day (1-31) were you born?  "))
})
    # save to datetime and ordinal types    
#     birthdate = dt.date(year, month, day)
#     ord_birthdate = birthdate.toordinal()

Person's Name Joel
What year were you born?   1983
What month (1-12) were you born?   4
What day (1-31) were you born?   13

ValueError: If using all scalar values, you must pass an index