##### import modules

In [1]:
from datetime import datetime
# from dateutil.parser import parse
import dateparser
import pandas as pd

Converting strings to Datetime

In [2]:
data = {'date_fr': ['26 fevr. 2017', '26 fevr. 2017', '26 fevr. 2017', '24 fevr. 2017', '23 fevr. 2017', '23 fevr. 2017', '22 fevr. 2017', '24 fevr. 2017'],
             'transect_id': [281, 281, 281, 280, 280, 280, 278, 280]}
df = pd.DataFrame(data, columns = ['date_fr', 'transect_id'])
df

         date_fr  transect_id
0  26 fevr. 2017          281
1  26 fevr. 2017          281
2  26 fevr. 2017          281
3  24 fevr. 2017          280
4  23 fevr. 2017          280
5  23 fevr. 2017          280
6  22 fevr. 2017          278
7  24 fevr. 2017          280

### REGEX approach - not needed when using dateutil.parser

##### Extract Year

df['year'] = df['date'].str.extract('(\d\d\d\d)', expand=True)
df['year']

##### Extract day

df['day'] = df['date'].str.extract('(\d\d)', expand=True)
df['day']

##### Extract month

## ('([A-Z0-9._%+-])', expand = True) = 2
## ('([A-Z]\w{0,})', expand=True)  = NaN

df['month'] = df['date'].str.extract('([A-Z0-9_%+-])', expand = True)
df['month']
## ('([A-Z]\w{0,})'

df['month'] = df['date'].str.extract('([A-Z]\w{0,})', expand = True)
df['month']

##### Replace 'fevr.' with 2

df['month1'] = df['date'].str.replace('fevr.', str(2)) ##, expand = True)
df['month1']

Search and replace

df_d.replace('fevr.', 2)
df_d

Search a column of strings for a pattern

df['date'].str.contains('.. ..... ....', regex=True)

Use Regex pattern to extract datetime

pattern = '\d' )'
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

##### Use dateparser to parse dates in

In [ ]:
# ls_dates = df['date_fr']

Create a list to contain the parsed date objects

In [ ]:
# pdate = []
# type(pdate)

Create list to parse out dates

In [4]:
# pdate = [dateparser.parse(x).date() for x in ls_dates]
pdate = [dateparser.parse(x).date() for x in df['date_fr']]

Add new column to dataframe to store parsed_dates

In [5]:
df.assign(parsed_date = pdate)

         date_fr  transect_id parsed_date
0  26 fevr. 2017          281  2017-02-26
1  26 fevr. 2017          281  2017-02-26
2  26 fevr. 2017          281  2017-02-26
3  24 fevr. 2017          280  2017-02-24
4  23 fevr. 2017          280  2017-02-23
5  23 fevr. 2017          280  2017-02-23
6  22 fevr. 2017          278  2017-02-22
7  24 fevr. 2017          280  2017-02-24

In [6]:
pdate

[datetime.date(2017, 2, 26),
 datetime.date(2017, 2, 26),
 datetime.date(2017, 2, 26),
 datetime.date(2017, 2, 24),
 datetime.date(2017, 2, 23),
 datetime.date(2017, 2, 23),
 datetime.date(2017, 2, 22),
 datetime.date(2017, 2, 24)]

Format dates correctly

In [ ]:
pdate_format = [dateparser.parse(x, '%m/%d/%Y') for x in ls_dates]

In [ ]:
pdate_format

In [ ]:
type(pdate[0])

parse pdate in specific format ('%m/%d/%Y')

In [ ]:
# pd.to_datetime(df['date_fr'])
for x in pdate:
    print(dateparser.parse(x).date()) #,'%m/%d/%Y')

In [ ]:
pdate = list([dateparser.parse(x, '%m/%d/%Y') for x in df['date_fr']])

Extract column of digits

In [ ]:
df['transect_id']

Extract column of dates

In [ ]:
df['parsed_date'] = df['date_fr'].dateparser.parse(x).date()) for x in df['date_fr']) #ls_dates)
#str.extract('(.. ..... ....)', expand=True)
df['parsed_date']

In [ ]:
df

Create a DataFrame

Convert df['date'] from string to datetime

In [ ]:
pd.to_datetime(df['date'])