##### import modules

In [1]:
from datetime import datetime
import dateparser
import pandas as pd

Converting strings to Datetime

In [2]:
data = {'date_fr': ['26 fevr. 2017', '26 fevr. 2017', '26 fevr. 2017', '24 fevr. 2017', '23 fevr. 2017', '23 fevr. 2017', '22 fevr. 2017', '24 fevr. 2017'],
             'transect_id': [281, 281, 281, 280, 280, 280, 278, 280]}
df = pd.DataFrame(data, columns = ['date_fr', 'transect_id'])
df

         date_fr  transect_id
0  26 fevr. 2017          281
1  26 fevr. 2017          281
2  26 fevr. 2017          281
3  24 fevr. 2017          280
4  23 fevr. 2017          280
5  23 fevr. 2017          280
6  22 fevr. 2017          278
7  24 fevr. 2017          280

In [6]:
type(df['date_fr'])

pandas.core.series.Series

In [9]:
type(df['date_fr'][0])

str

##### Use dateparser to parse dates into a new column in the dataframe

Create list to parse out dates

In [7]:
pdate = [dateparser.parse(x).date() for x in df['date_fr']]

Add new column to dataframe to store parsed_dates

In [8]:
df.assign(parsed_date = pdate)

         date_fr  transect_id parsed_date
0  26 fevr. 2017          281  2017-02-26
1  26 fevr. 2017          281  2017-02-26
2  26 fevr. 2017          281  2017-02-26
3  24 fevr. 2017          280  2017-02-24
4  23 fevr. 2017          280  2017-02-23
5  23 fevr. 2017          280  2017-02-23
6  22 fevr. 2017          278  2017-02-22
7  24 fevr. 2017          280  2017-02-24