import modules

In [18]:
import pandas as pd, numpy as np, re as re

In [19]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'email': ['jas203@gmail.com', 'momomolly@gmail.com', np.NAN, 'battler@milner.com', 'Ames1234@yahoo.com'], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'email', 'preTestScore', 'postTestScore'])
df

  first_name last_name                email  preTestScore  postTestScore
0      Jason    Miller     jas203@gmail.com             4             25
1      Molly  Jacobson  momomolly@gmail.com            24             94
2       Tina       Ali                  NaN            31             57
3       Jake    Milner   battler@milner.com             2             62
4        Amy     Cooze   Ames1234@yahoo.com             3             70

Which strings contain 'gmail'?

In [20]:
df['email'].str.contains('gmail')

0     True
1     True
2      NaN
3    False
4    False
Name: email, dtype: object

Create regular expression to break apart email addresses

In [21]:
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

Find everything in df.email that contains that pattern

In [22]:
df['email'].str.findall(pattern, flags=re.IGNORECASE)

0       [(jas203, gmail, com)]
1    [(momomolly, gmail, com)]
2                          NaN
3     [(battler, milner, com)]
4     [(Ames1234, yahoo, com)]
Name: email, dtype: object

In [25]:
df

  first_name last_name                email  preTestScore  postTestScore
0      Jason    Miller     jas203@gmail.com             4             25
1      Molly  Jacobson  momomolly@gmail.com            24             94
2       Tina       Ali                  NaN            31             57
3       Jake    Milner   battler@milner.com             2             62
4        Amy     Cooze   Ames1234@yahoo.com             3             70

Create pandas series containing email elements

In [23]:
matches = df['email'].str.match(pattern, flags=re.IGNORECASE)
matches

0    True
1    True
2     NaN
3    True
4    True
Name: email, dtype: object

Select domains of df.email

In [24]:
matches.str[1]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: email, dtype: float64